<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem name="Production Management" id="menu_batch_management" sequence="1"/>

        <menuitem name="Batch Information" id="menu_two_batch_information" parent="menu_batch_management" sequence="1"/>
        <menuitem name="Material Batch" id="menu_three_materia_batch" parent="menu_two_batch_information" action="action_material_batch" sequence="1"/>
        <menuitem name="Commodity Batch" id="menu_three_commodity_batch" parent="menu_two_batch_information" action="action_commodity_batch" sequence="2"/>

        <menuitem name="Production Information" id="menu_two_production_information" parent="menu_batch_management" sequence="1"/>
        <menuitem name="Commodity Produce" id="menu_three_commodity_produce" parent="menu_two_production_information" action="action_commodity_produce" sequence="1"/>
        <menuitem name="Commodity Making" id="menu_three_commodity_making" parent="menu_two_production_information" action="action_commodity_making" sequence="2"/>
        <menuitem name="Commodity Check" id="menu_three_commodity_check" parent="menu_two_production_information" action="action_commodity_check" sequence="2"/>


    </data>
</openerp>
