<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>

        <menuitem name="Production Management" id="menu_barch_management" sequence="1"/>

        <menuitem name="Barch Information" id="menu_two_barch_information" parent="menu_barch_management" sequence="1"/>
        <menuitem name="Material Barch" id="menu_three_materia_barch" parent="menu_two_barch_information" action="action_material_barch" sequence="1"/>
        <menuitem name="Commodity Barch" id="menu_three_commodity_barch" parent="menu_two_barch_information" action="action_commodity_barch" sequence="2"/>

        <menuitem name="Production Information" id="menu_two_production_information" parent="menu_barch_management" sequence="1"/>
        <menuitem name="Commodity Produce" id="menu_three_commodity_produce" parent="menu_two_production_information" action="action_commodity_produce" sequence="1"/>
        <menuitem name="Commodity Making" id="menu_three_commodity_making" parent="menu_two_production_information" action="action_commodity_making" sequence="2"/>
        <menuitem name="Commodity Check" id="menu_three_commodity_check" parent="menu_two_production_information" action="action_commodity_check" sequence="2"/>


    </data>
</openerp>
